/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  scroll-behavior: smooth;
}

@mixin backgroundImageStyling($imageUrl, $size, $position) {
  background: url($imageUrl) no-repeat $position / $size;
}

@mixin borderStyling($bStyle) {
  border-radius: 8px;
  border: 2px $bStyle white;
}

@mixin dFlex($jc: center, $ai: center, $g: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

$dark_red: #9f0908;
$dark_red_hover: #b92323;

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Economica";
  src: url("assets/fonts/Economica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Economica";
  src: url("assets/fonts/Economica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.fontRaleway {
  font-family: "Raleway";
}

.fontEconomica {
  font-family: "Economica";
}