/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Economica";
  src: url("assets/fonts/Economica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Economica";
  src: url("assets/fonts/Economica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.fontRaleway {
  font-family: "Raleway";
}

.fontEconomica {
  font-family: "Economica";
}