<section>
    <h2 class="fontRaleway">HOW TO ORDER</h2>
    <div>
        <div class="fontEconomica">
            <img src="assets/img/2_section_how_to_order/SVG/noodle.svg" alt="">
            <p>Pick your noodle</p>
        </div>
        <div class="fontEconomica">
            <img src="assets/img/2_section_how_to_order/SVG/broth.svg" alt="">
            <p>Pick your broth</p>
        </div>
        <div class="fontEconomica">
            <img src="assets/img/2_section_how_to_order/SVG/egg.svg" alt="">
            <p>Add your toppings</p>
        </div>
    </div>
</section>